.chat-room-status-bar,
.chat-room-body,
.chat-room-alt-screen-header {
  background-color: #9dcdb8;
}

.chat-room-alt-screen-header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
}
.chat-room-status-bar {
  z-index: 2;
}

.chat-room-alt-screen-header {
  z-index: 1;
}
.main-chat {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat__time-stamp {
  color: white;
  background-color: black;
  padding: 10px;
  opacity: 0.5;
  border-radius: 20px;
}

.chat__row {
  margin-top: 25px;
}
.chat__row img {
  width: 60px;
  height: 60px;
  border-radius: 25px;
}

.chat__row {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.chat__row-content {
  margin-left: 10px;
}
.chat__row-column-author {
  opacity: 0.6;
}
.chat__row-column-msg {
  margin-top: 10px;
  display: flex;
  align-items: flex-end;
}
.chat__bubble {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: white;
  padding: 10px;
  border-radius: 15px;
  border-top-left-radius: 0px;
}
.chat__time {
  margin-left: 8px;
  opacity: 0.6;
}

.chat__row__own,
.chat__row_column_own-msg {
  flex-direction: row-reverse;
}

.chat__row_column_own-msg:last-child span {
  margin-left: 10px;
}
.chat__bubble__own-msg {
  border-top-left-radius: 15px;
  border-top-right-radius: 0px;
  background-color: var(--yellow);
}

.msg-input {
  position: fixed;
  bottom: 0px;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
}

.msg-input__column:first-child {
  width: 10%;
}

.msg-input__column:last-child {
  width: 90%;
  position: relative;
}

.msg-input input {
  height: 40px;
  width: 100%;
  border: var(--common-border);
  border-radius: 20px;
  box-sizing: border-box;
}

.msg-input__column:first-child > i {
  font-size: 25px;
  opacity: 0.5;
}

.msg-input__column:last-child > i,
.msg-input__column:last-child button {
  position: absolute;
  right: 5px;
  top: 5px;
}

.msg-input__column:last-child > i {
  right: 45px;
  top: 12px;
  opacity: 0.5;
}

.msg-input__column button {
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--yellow);
}
