.recommended-friend {
  color: #a5a5a5;
  padding-bottom: 150px;
  border-bottom: var(--common-border);
}
.recommended-friend__title {
  font-size: 20px;
  margin-top: 20px;
}

.recommended-friend__des {
  font-size: 25px;
  text-align: center;
  margin-top: 150px;
}

.open-chat-box {
  display: flex;
  justify-content: space-between;
  color: #a5a5a5;
  font-size: 20px;
  margin-top: 20px;
}
.open-chat-rooms {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--common-border);
}

.open-chat-rooms__column {
  margin-top: 20px;
  margin-bottom: 20px;
}
.open-chat-rooms__title,
.open-chat-rooms__hashtags,
.open-chat-rooms__status {
  margin-top: 10px;
}

.open-chat-rooms__title {
  font-size: 20px;
}

.open-chat-rooms__hashtags {
  color: #a5a5a5;
  font-size: 20px;
}

.open-chat-rooms__status {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.open-chat-rooms__avatar img {
  width: 25px;
  height: 25px;
  border-radius: 10px;
}

.open-chat-rooms__members {
  color: #a5a5a5;
  margin-left: 10px;
}

.open-chat-rooms__active {
  color: #ff66c3;
  margin-left: 10px;
}

.open-chat-rooms__pic img {
  width: 140px;
  height: 140px;
  border-radius: 20px;
}
.open-chat-rooms__pic {
  position: relative;
}
.open-chat-rooms__likes {
  position: absolute;
  width: 70px;
  height: 20px;
  border-radius: 30px;
  background-color: black;
  opacity: 0.5;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  bottom: 10px;
  right: 10px;
}

.open-chat-rooms__likes i {
  margin-right: 5px;
}
