.login-header {
  text-align: center;
}

.login-title {
  font-size: 25px;
  margin-top: 100px;
}

.login-des {
  font-size: 20px;
  opacity: 0.5;
  margin: 40px 100px 125px 100px;
}
.login {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

.login input {
  border: none;
  font-size: 20px;
  padding: 20px 0px;
  margin-bottom: 20px;
}

.login input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.login input::placeholder {
  opacity: 0.6;
}

.login input:focus {
  border-color: var(--yellow);
}

.login input[type="submit"] {
  border-radius: 5px;
  background-color: var(--yellow);
  cursor: pointer;
}

.login a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  opacity: 0.7;
  font-size: 20px;
  margin-top: 5px;
}
