.status-bar {
  padding: 10px 10px 0px 10px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  z-index: 2;
}

.status-bar-column span {
  margin-left: 5px;
}
.status-bar-column {
  width: 33%;
}
.status-bar-column:nth-child(2) {
  text-align: center;
}
.status-bar-column:last-child {
  display: flex;
  justify-content: flex-end;
}
