.status-bar {
  padding: 10px 10px 0px 10px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
}

.status-bar-left span {
  margin-right: 5px;
}

.fa-battery-full {
  margin-right: 2px;
}
